# Dependency directories
node_modules/
test/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.tap

# Coverage directory
coverage
.nyc_output

# dotenv environment variable files
.env
.env.*
!.env.example

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
.DS_Store
